.user-profile {
    display: flex;
    flex-direction: column;
}
.image-wrapper {
    background-image: linear-gradient(to right, #93a5cf, #e4efe9, #f0f2f0);
    border-radius: 16px 16px 0 0;
    height: 100px; /* Hoặc chiều cao bạn mong muốn */
}

.user-profile-content {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 30px;
    background-color: rgb(250, 250, 250);
    border: 1px solid #f0f2f0;
    border-radius: 16px 16px 0 0;
}

.user-profile .ellipse {
    border-radius: 0 16px 0 16;
    height: 120px;
    left: 18px;
    object-fit: cover;
    margin-top: -62px;
    width: 124px;
}
.user-profile .group {
    height: 60px;
    width: 202px;
    position: absolute;
    margin-top: -82px;
    margin-left: 180px;
}

.user-profile .user-name-wrapper {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
}
.user-profile .display-name-wrapper {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}
.input-form-item {
    width: 80%;
    border-radius: 8px 0 0 8px;
}
.icon-input-form-item {
    width: 20%;
    border: 1px solid black;
    padding: 0 6px;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.slide-image img {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    max-width: 570px;
    max-height: 300px;
    background-color: gray;
    object-fit: cover;
}
