.dynamic-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dynamic-form-input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}
.dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
}
.dynamic-delete-button:hover {
    color: #777;
}
.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.dynamic-form-input {
    width: 100%;
    border: solid 2px #e5e7eb;
    border-radius: 8px;
}
