.bg-primary {
    background-color: #f5002f;
}
.border-primary {
    border-color: #f5002f;
}
.menu-btn:hover,
.location-option-btn:hover {
    background-color: #fef2f4;
    border-color: #f5002f;
}
.search-location-input {
    border-right: 1px solid #222222 !important;
}

.search-location-input:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 1000px) {
    .input-search-container {
        transform: scale(0.9);
    }
}

.input-search-container {
    position: relative;
    z-index: 0;
}
.dialog {
    position: absolute !important;
    z-index: 10;
}
.stroke-primary {
    color: #f5002f;
}
.btn_find_address {
    color: rgb(253, 140, 140);
}
.pagination {
    margin-top: 150px;
}
