.menu-search-page-header {
  background-color: white;
  color: black !important;
  font-size: 18px;
  border: none;
}

.menu-search-page-header .ant-menu-item span {
  color: black;
  font-weight: 500;
  border: none;
}

.btn-active {
  color: white;
  background-color: #f5002f;
  border-color: #f5002f;
}
.custom-datepicker .ant-picker-input input::placeholder {
  color: #000000;
  font-weight: 500;
}
.custom-timepicker .ant-picker-input input::placeholder {
  color: #000000;
  font-weight: 500;
}

@media (min-width: 768px) {
  .custom-timepicker.custom-datepicker {
    font-weight: 800 !important;
  }
}
