.slide-image img {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;
    max-width: 570px;
    background-color: gray;
    object-fit: cover;
}
.btn-zalo {
    padding: 0 6px;
    line-height: 0;
    height: 28px;
}
