@media (max-width: 1400px) {
    .create-post-form {
        transform: scale(0.85);
    }
}
@media (max-width: 600px) {
    .create-post-form {
        transform: scale(0.8);
        margin-top: -150px;
    }
}
.bg-primary {
    background-color: #f5002f !important;
}
.create-post-form {
    color: #303030;
}
.custom-dropdown .ant-select-item {
    max-height: 40px; /* Chiều cao tối đa của mỗi item */
}

.custom-dropdown {
    max-height: 130px; /* Giới hạn chiều cao của dropdown */
    overflow-y: auto; /* Thêm scroll khi vượt quá chiều cao */
}
.border-2 {
    border-style: solid;
    border-color: #e5e7eb !important;
}
.input-post-description {
    height: 100px;
}
.input-post {
    height: 68px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-post .ant-select-selector {
    width: 100%;
    font-size: 18px;
    font-weight: 450;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.tag-post {
    width: 60px;
    height: 35px;
    margin-left: 15px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agreed-checkbox-container {
    width: 100% !important;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.custom-disable {
    width: 100% !important;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}
.agreed-checkbox {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.agreed-checkbox:hover {
    border-color: blue;
}
.custom-time-picker input {
    font-size: 18px !important;
}
.custom-date-picker input {
    font-size: 18px !important;
}

.input-location {
    width: 100%;
    height: 65px;
}
.input-location .ant-select-selector {
    font-size: 18px !important;
}
.textarea {
    overflow: hidden;
    resize: both;
    font-size: 15px;
    padding-top: 30px !important;
}
